/* Mobile */
@media (max-width: 767px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #1D2026;
        height: auto;
    }
    
    header{ 
        background-color: #171A21;
        width: 100%;
        height: 65px;
        box-shadow: 0 0 7px 0 rgba( 0, 0, 0, 0.75 );
    }
    .responsive_header-logo{
        background-color: #171A21;
        width: 100%;
        height: 50px;
        padding: 7px 8px;
    }
    .responsive_header_menu{
        background-color: #171A21;
        width: 100%;
        height: 50px;
        padding: 10px 8px;
        padding: 13px 0;
        text-align: center;
    }
    .img-logo{
        width: 150px;
        height: 35px;
        margin-left: -20px;
    }
    .img-menu{ 
        width: 36px;
        height: 31px;
        float: left;
    }
    .Backrou_img{
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: start; 
    }
    .Steam{
        background-color: #1D2026;
        width: 100%;
        height: 100%;
        margin-left: 20px;
    }
    .Steam img {
        margin-top: 100px;
        width: 300px;
    }
    .Steam h2{
        color: aliceblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }
    .Steam1{
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        display: none;
    }
    .Steam1 img{
        width: 100%;
        height: 100%;
    }
    .Cai_dat{
        width: 95%;
        height: 50px;
        background: linear-gradient(to right, #06bfff 50%, #2b74ff 100%);
        color: aliceblue;
        margin-top: 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .Cai_dat i {
        margin-left: 40px;
    }
    .Steam h3{
        color: gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        margin-top: 15px;
    }
    .h3_i{
        width: 300px;
        height: auto;
    }
    .fa-apple{
        font-size: 15px;
        color: aliceblue;
    }
    .fa-steam{
        margin-left: 5px;
        font-size: 13px;
        color: aliceblue;
    }
    .Net_dac_trung{
        width: 100%;
        height: 300px;
        background-color: aliceblue;
        
        
    }
    .Div{
        width: 100%;
        height: 250px;    
        display: none;
    }
    .dac-trung{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 0;
        height: 700px;
        margin-top: -40px;
    }
    
    .dactrung-item{
        width: 80%;
        text-align: center;
    }
    
    .dactrung-item i{
        font-size: 3.5rem;
        color: #ccc;
    }
    
    .dactrung-item h5{
        font-size: 0.9rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        margin: 10px 0;
    }
    
    .dactrung-item p{
        color: #fff;
        font-size: 0.7rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}